/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Roboto&display=swap');
/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Importing components */
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card-info.css");
@import url("components/footer.css");

/* Utilities */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
}

/* Custom design below! */

