.cards {
  display: flex;
  justify-content: space-between;
}

.card-info {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: .5s;
  margin: 5px;
  width: 25%;
  text-align: center;
}

.card-info img {
  width: 95%;
  height: 175px;
  padding: 5px;
}

.card-info h3 {
  font-size: 17px;
  margin-bottom: 0;
}

.card-info p {
  font-size: 12px;
  margin-bottom: 20px;
}
